<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta URLShortener</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>URL Shortener</h1>
        <div class="container">
            <input type="text" class="input_field" id="url" placeholder="Enter your url!">
            <a class="btn btn-big" id="generate">
                Generate
            </a>
        </div>
        <p class="urlText" id="text"></p>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>